
table {
  border-collapse: collapse;
}

table, th, td {
  border: 2px solid black;
}


body {
  background-color: rgb(138, 217, 228);
}

h2 {
  color: rgb(7, 7, 20);
  font-family: verdana;
  font-size: 150%;
}